{% extends 'base.html' %}

{% block content %}
<h3 class="header-2">New Question</h3>
<form class="form-horizontal" action={% url 'ask' %} method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-inline form">
    <div class="col-sm-1">
      {{ field.label_tag }}
    </div>
    <div class="col-sm-11">
      {{field}}
    </div>
  </div>
  {% endfor %}
  <div class="form-inline">
    <div class="col-sm-11 col-sm-offset-1">
      <input class="btn btn-default" type="submit" value="Ask!">
    </div>
  </div>
</form>
{% endblock %}
