<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exmaples</title>
    <style media="screen">
        .avatar-image {
            width: 50px;
            height: 50px;
            float: left;
        }
    </style>
</head>

<body>
    <div class="user">
        <img class="avatar-image" src="img/ava.jpg" alt="avatar" hspace="5">
        <div class="line">Vlad Orlov</div>
        <div class="line">
          <a class="ref" href="#">settings</a>
          <a class="ref" href="#">log out</a>
        </div>
    </div>
</body>

</html>
