{% extends 'base.html' %}
{% block content %}
<h3 class="header-2">Settings: {{ user.username }}</h3>
<form class="form-horizontal" action="{% url 'settings' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-inline form">
    <div class="col-sm-3">
      {{ field.label_tag }}
    </div>
    <div class="col-sm-9">
      {{field}}
    </div>
  </div>
  {% endfor %}
  <div class="form-inline">
    <div style="padding-top: 10px" class="col-sm-9 col-sm-offset-3">
      <input class="btn btn-default" type="submit" value="OK">
    </div>
  </div>
</form>
{% endblock %}
