{% extends 'base.html' %}
{% block content %}
<h3 class="header-2">Registration</h3>
<form class="form-horizontal" action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-inline form">
    <div class="col-sm-3">
      {{ field.label_tag }}
    </div>
    <div class="col-sm-9">
      {{field}}
    </div>
    {% for error in field.errors %}
      <span class="help-block col-sm-9 col-sm-offset-3">{{error}}</span>
    {% endfor %}
  </div>
  {% endfor %}
  <div class="form-inline">
    <div class="col-sm-9 col-sm-offset-3">
      <input class="btn btn-default" type="submit" value="Register!">
    </div>
  </div>
</form>
{% endblock %}
